header {
	height: 50px ;
	width: 100%;

}

body {
	background-color: #003F72;
}

.slider {
	padding-top: 70px;
	position:relative;
	width: 1024px;
	height: 768px;
	margin: 0 auto;
}

.slider img {
	position: absolute;
	top:0px;
	left:0px;
	display: none;
	width: 1024px;
	height: 768px;
	border:10px solid white;

}

.slider .active {
	display: block;
	z-index: 100;
}

.nav {
	z-index: 1000;
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	padding: 10px 0 20px 0;
}

.nav a {
	margin-right: 15px;
	display: inline-block;
	border-radius: 50%;
	width: 10px;
	background: #fff;
	height: 10px;
}

.nav .navActive {
	background: #666;
	border: none;
}

.buttons {
	width: 100%;
	position:absolute;
}

.buttons a {
	position:absolute;
	z-index: 1000;
	top: 330px;
	height: 30px;
	width: 30px;
	background: url(http://oi41.tinypic.com/t6dxsm.jpg);
}

.buttons .prev { left:20px;}
.buttons .next { right:20px; background-position: 30px 30px; }

	a:link {
	color: #CC0000;
	}
	a:visited {
	color: #55D77C;
	}
	a:hover {
	color: #999999;
	}

footer {
    position: absolute;
		bottom: 0;
		padding-top: 50px;
		text-align: right;
    height: 30px;
    width: 100%;
		color: #FF1B00;
		font-family: fantasy;
}
